In [ ]:
#Q1
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())
    
    L=[[i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1) if (i+j+k)!=n]
    print(L)

2
2
2
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 2], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1], [1, 2, 2], [2, 0, 1], [2, 0, 2], [2, 1, 0], [2, 1, 1], [2, 1, 2], [2, 2, 0], [2, 2, 1], [2, 2, 2]]

In [ ]:
#Q2
if __name__ == '__main__':
    n = int(input())
    arr = map(int, input().split())
    list_arr=list(set(arr))
    sort_arr=sorted(list_arr)
    print(sort_arr[-2])

5
2 3 6 6 5
5

In [3]:
#Q3
if __name__ == '__main__':
    name_grade=[]
    
    for _ in range(int(input())):
        name = input()
        score = float(input())
        name_grade.append([name,score])
    sort_list=sorted(list(set([x[1] for x in name_grade])))
    get_second_lowest=sort_list[1]
    
   
        
    second_low=[]
    for student in name_grade:
        if get_second_lowest==student[1]:
            second_low.append(student[0])
            
    for student in sorted(second_low):
        print(student)

5
Harry
37.21
Berry
37.21
Tina
37.21
Akriti
41
Harsh
39
Harsh

In [ ]:
#Q4
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *l = input().split()
        scores = list(map(float, l))
        student_marks[name] = scores
    query_name = input()
    student_score=student_marks[query_name]
    percentage=(sum(student_score)/len(student_score))
    print('{0:.2f}'.format(percentage))

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika
56.00

In [ ]:
#Q5
if __name__ == '__main__':
    N = int(input())
    arr=[]
    
    for i in range(N):
        method,*l=input().split()
        k=list(map(int,l))
        if len(k)==2:
            p=[k[0]]
            q=[k[1]]
        elif len(k)==1:
            p=[k[0]]
        if method=='insert':
            arr.insert(p[0],q[0])
        elif method=='append':
            arr.append(p[0])
        elif method=='remove':
            arr.remove(p[0])
        elif method=='sort':
            arr.sort()
        elif method=='pop':
            arr.pop()
        elif method=='reverse':
            arr.reverse()
        elif method=='print':
            print(arr)

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
append 1
sort
print
[1, 5, 9, 10]
pop
reverse
print
[9, 5, 1]

In [ ]:
#Q6
if __name__ == '__main__':
    n = int(input())
    integer_list = map(int, input().split())
    m=[]
    for i in integer_list:
        m.append(i)
    
    T=tuple(m)
    print(hash(T))

2
1 2
3713081631934410656

In [ ]:
#Q7
def average(array):
    # your code goes here
    set_array=list(set(array))
    n=len(set_array)
    sum_=sum(set_array)
    avg=(sum_/n)
    return avg

if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    result = average(arr)
    print(result)

10
161 182 161 154 176 170 167 171 170 174
169.375

In [ ]:
#Q8
# Enter your code here. Read input from STDIN. Print output to STDOUT
from six.moves import input as raw_input
n = raw_input().split()
n = map(int, n)
num= map(int, raw_input().split())
A = set(map(int, raw_input().split()))
B = set(map(int, raw_input().split()))

happiness = 0
for i in num:
    if i in A:
        happiness += 1
    elif i in B:
        happiness -= 1

print(happiness)

3 2
1 5 3
3 1
5 7
1

In [ ]:
#Q9
# Enter your code here. Read input from STDIN. Print output to STDOUT
from six.moves import input as raw_input
num1 = int(raw_input())
set1 = set(map(int,raw_input().split()))
num2 = int(raw_input())
set2 = set(map(int,raw_input().split()))
diff1=set1.difference(set2)
diff2=set2.difference(set1)
set3 = (diff1.union(diff2))

sort_list=list(sorted(set3))

for i in sort_list:
    print(i)

4
2 4 5 9
4
2 4 11 12
5
9
11
12

In [ ]:
#Q10
# Enter your code here. Read input from STDIN. Print output to STDOUT
from six.moves import input as raw_input
n=int(input())
con=set()


for i in range(n):
    con.add(input())
    
distinct_stamp=len(con)    
print(distinct_stamp)

7
UK
China
USA
France
New Zealand
UK
France
6

In [ ]:
#Q 11
n = int(input())
s = set(map(int, input().split()))
m=int(input())


for i in range(m):
    method,*l=input().split()
    k=list(map(int,l))
    if len(k)==2:
        p=[k[0]]
        q=[k[1]]
    elif len(k)==1:
        p=[k[0]]
    if method=='remove':
        s.remove(p[0])
    elif method=='discard':
        s.discard(p[0])
    elif method=='pop':
        s.pop()

9
1 2 3 4 5 6 7 8 9
10
pop
remove 9
discard 9
discard 8
remove 7
pop
discard 6
remove 5
pop
discard 5

In [ ]:
print(sum(list(s)))

4

In [ ]:
#12
# Enter your code here. Read input from STDIN. Print output to STDOUT
n = int(input())
e = set(map(int, input().split()))
m =int(input())
f =set(map(int, input().split()))

uni=len(e|f)
print(uni)

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
13

In [ ]:
#Q13
# Enter your code here. Read input from STDIN. Print output to STDOUT
n = int(input())
e = set(map(int, input().split()))
m =int(input())
f =set(map(int, input().split()))

inter=len(e&f)
print(inter)

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
5

In [ ]:
#Q14
# Enter your code here. Read input from STDIN. Print output to STDOUT

n = int(input())
e = set(map(int, input().split()))
m =int(input())
f =set(map(int, input().split()))

differ=len(e-f)
print(differ)

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
4

In [ ]:
#Q15
# Enter your code here. Read input from STDIN. Print output to STDOUT
n = int(input())
e = set(map(int, input().split()))
m =int(input())
f =set(map(int, input().split()))

sym_diff=len(e^f)
print(sym_diff)

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
8

In [ ]:
#Q16
# Enter your code here. Read input from STDIN. Print output to STDOUT
from six.moves import input as raw_input
n=int(input())

m=set(map(int,input().split()))
p=int(input())
      


      
for i in range(p):
    method=input().split()[0]
    temp = set(map(int,raw_input().split()))
    if method=='intersection_update':
        m.intersection_update(temp)
    elif method=='update':
        m.update(temp)
    elif method=='symmetric_difference_update':
        m.symmetric_difference_update(temp)
    elif method=='difference_update':
        m.difference_update(temp)


print(sum(m))

16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52
4
intersection_update 10
2 3 5 6 8 9 1 4 7 11
update 2
55 66
symmetric_difference_update 5
22 7 35 62 58
difference_update 7
11 22 35 55 58 62 66
38

In [ ]:
#Q17
from six.moves import input as raw_input
e = list((map(int,raw_input().split())))

l=[]


for i in range(len(e)):
    for j in range(i+1,len(e)):
        if e[i]==e[j]:
            temp=e[i]
            e[j]=e[i]
            l.append(e[i])
        

        
        
set1=set(l)
set2=set(e)
captain_room=(set2)-(set1)
print(captain_room)

1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
{8}

In [ ]:
#Q18
# Enter your code here. Read input from STDIN. Print output to STDOUT
from six.moves import input as raw_input
n=int(input())

for i in range(n):
    m=int(input())
    A=set(input().split())
    j=int(input())
    B=set(input().split())
    print(A.issubset(B))

3
5
1 2 3 5 6
9
9 8 5 6 3 2 1 4 7
True
1
2
5
3 6 5 4 1
False
7
1 2 3 5 6 8 9
3
9 8 2
False

In [ ]:
#Q19
from six.moves import input as raw_input
A=set(input().split())
n=int(input())
is_superset=True

for i in range(n):
    B=set(input().split())
    if not B.issubset(A):
        is_superset=False
    elif len(B)>=len(A):
        is_superset=False
    
   
        
print(is_superset)

1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5
100 11 12
False